<div class="about-me-section">

    <div class="about-me-container" data-aos="fade-left">
        <div><img data-aos="fade-left" class="about-me-image" src="assets/img/blank-profile.png" alt=""></div>
        <div class="about-me-text">
            <h2 data-aos="fade-left">About me.</h2>
            <span data-aos="fade-left">"I absolutely love building web applications and solving problems.<br>
            I'm always open for opportunities in order to expand my horizon."</span>
        </div>
    </div>

    <div class="about-me-information-container">
        <div class="about-me-information-box" data-aos="fade-left">
            <div class="about-me-information-image">
                <img src="assets/img/walk-line.png" alt="">
            </div>
            <div class="about-me-information-text">
                <h3>MY JOURNEY</h3>
                <span>First.. </span>
            </div>
        </div>

        <div class="about-me-information-box" data-aos="fade-left">
            <div class="about-me-information-image">
                <img src="assets/img/heart-line.png" alt="">
            </div>
            <div class="about-me-information-text">
                <h3>I FELL IN LOVE</h3>
                <span>I really enjoyed developing my first software. So the decision of becoming a web developer was made.</span>
            </div>
        </div>

        <div class="about-me-information-box" data-aos="fade-left">
            <div class="about-me-information-image">
                <img src="assets/img/search-line.png" alt="">
            </div>
            <div class="about-me-information-text">
                <h3>I SEARCHED</h3>
                <span></span>
            </div>
        </div>

        <div class="about-me-information-box" data-aos="fade-left">
            <div class="about-me-information-image">
                <img src="assets/img/flight-takeoff-line.png" alt="">
            </div>
            <div class="about-me-information-text">
                <h3>NEW CHALLENGES</h3>
                <span>I'm eager to prove myself as a software developer.</span>
            </div>
        </div>

    </div>

</div>
