<div class="my-work-section">
    <h2 data-aos="fade-left">My Work</h2>
    <div class="project-btn-container" data-aos="fade-left">
        <button>All</button>
        <button>Angular</button>
        <button>JavaScript</button>
    </div>
    <div class="project-cover-container">
        <img data-aos="fade-left" class="project-cover" src="assets/img/epl_startscreen.png">
        <img data-aos="fade-left" class="project-cover" src="assets/img/pokedex-cover.png">
        <img data-aos="fade-left" class="project-cover" src="assets/img/slack-cover.png">
        <img data-aos="fade-left" class="project-cover" src="assets/img/rof_screen.png">
    </div>  
</div>
