<div id="contactme" class="contact-me-section">
    <div class="contact-me-content">
        <h1 data-aos="fade-left">Contact me:</h1>
        <span data-aos="fade-left">Get in touch via the form below, or by e-mailing <font color="#35fce2"><b>alexander.huesten@web.de</b></font></span>
        
        <div class="contact-form">
            <form action="http://alexander-keil.developerakademie.net/send_mail/send_mail.php" method="POST">
                <span data-aos="fade-left">Name<font color="red">*</font></span>
                <input data-aos="fade-left" required type="text" placeholder="Please enter your name" name="name">
                <span data-aos="fade-left">Your E-Mail<font color="red">*</font> </span>
                <input data-aos="fade-left" required type="email" placeholder="Please enter your e-mail" name="email">
                <span data-aos="fade-left">Your Message<font color="red">*</font></span>
                <textarea data-aos="fade-left" required name="" id="" cols="30" rows="10" placeholder="Please enter your message" name="message"></textarea>
                <button data-aos="fade-left" class="draw-border" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
