.introduction-container{
    min-height:70vh;
    color:white;
    background-color:black;
    margin-left:20%;
    margin-right:20%;
    padding-top:200px;
    display:flex;
    justify-content:space-between;
    h1{
        font-size:60px;
    }
    img{
        height:300px;
        width:300px;
        object-fit:cover;
        border-radius:50%;
        object-position: 100% 30%;
    }
    button{
        width:200px;
        height:60px;
        margin-top:64px;
        background-color:black;
        border:none;
        &:hover{
            cursor:pointer;
        }
    }
}

.arrow-icon-container{
    height:calc(100vh - 70vh - 160px);
    background-color:black;
}




.footer{
    height:100px;
    width:100%;
    background-color:white;
    color:black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    img{
        transition: transform .2s;
        width:64px;
        height:64px;
        &:hover{
            cursor:pointer;
            transform: scale(1.2);
        }
    }
    span{
        &:hover{
            cursor:pointer;
            text-decoration:underline;
        }
    }
}

@media (max-width: 1125px){
    .introduction-container{
        margin-top:100px;
        flex-direction:column-reverse;
        align-items:center;
        padding-top:100px;
        margin-left:unset;
        margin-right:unset;
    }
}

@media (max-width: 650px){
    .introduction-container{
        margin-left:20px !important;
        margin-right:20px !important;
    }
}

@media (max-width:550px){
    .footer{
        .legal-links{
            display:flex;
            flex-direction: column;
        }
    }
    .introduction-container{
        margin-top: 20px;
        img{
            height:200px;
            width:200px;
        }
    }

}

@media (max-width:450px){
    .footer{
        .legal-links{
            span{
                font-size:16px !important;
            }
        }
    }
}

@media (max-width:400px){
    .introduction-container{
        padding:unset;
        margin:unset;
        margin-top: 40px;
    }
}