.introduction-container{
    height:70vh;
    color:white;
    background-color:black;
    margin-left:20%;
    margin-right:20%;
    padding-top:160px;
    display:flex;
    justify-content:space-between;
    h1{
        font-size:60px;
    }
    img{
        height:300px;
        width:300px;
        object-fit:cover;
        border-radius:50%;
        object-position: 100% 30%;
    }
    button{
        width:200px;
        height:60px;
        margin-top:64px;
        background-color:black;
        border:1px solid #35fce2;
        color:#35fce2;
        &:hover{
            
        }
    }
}

.arrow-icon-container{
    height:calc(100vh - 70vh - 160px);
    background-color:black;
}




.footer{
    height:100px;
    width:100%;
    background-color:white;
    color:black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    img{
        transition: transform .2s;
        width:64px;
        height:64px;
        &:hover{
            cursor:pointer;
            transform: scale(1.2);
        }
    }
}