.introduction-container{
    height:70vh;
    color:white;
    background-color:black;
    padding-left:20%;
    padding-right:20%;
    padding-top:100px;
    display:flex;
    justify-content:space-between;
    h1{
        font-size:60px;
    }
    img{
        height:300px;
        object-fit:cover;
        border-radius:100%;
    }
    button{
        padding-left:64px;
        padding-right:64px;
        padding-top:16px;
        padding-bottom:16px;
        margin-top:64px;
        background-color:black;
        border:1px solid #35fce2;
        color:#35fce2;
        &:hover{
            
        }
    }
}

.arrow-icon-container{
    height:calc(100vh - 70vh - 160px);
    background-color:black;
}

